In [ ]:
n = 10
sum = 0
i = 1

while i <= n:
    num = float(input(f"Enter element {i}: "))
    sum += num
    i += 1

avg = sum / n
print(f"Average of {n} numbers is: {avg:.2f}")

In [ ]:
import math
n = int(input("Enter the number of elements: "))
product = 1
for i in range(n):
    number = float(input("Enter number: "))
    product *= number
geometric_mean = math.pow(product, 1/n)
print(f"The geometric mean is: {geometric_mean}")

In [ ]:
num = int(input("Enter a number: "))
if num > 1:
       for i in range(2, int(num**0.5) + 1):
            if (num % i) == 0:
                print(num, "is not a prime number")
                break
            else:
               print(num, "is a prime number")
else:
        print(num, "is not a prime number")

In [ ]:
arr = []
n = int(input("Enter number of elements: "))
for i in range(0, n):
    ele = int(input())
    arr.append(ele) 
print(arr)
x=int(input("enter the element to find:"))
for i in range(len(arr)):
    if arr[i] == x:
        result = i
        break
if result != -1:
    print("Element",x,"is present at index",result)
else:
    print("Element {x} is not present in the array")

In [ ]:
import math

def calculate_area_heron(side1, side2, side3):
  
    s = (side1 + side2 + side3) / 2
    
    area = math.sqrt(s * (s - side1) * (s - side2) * (s - side3))
    return area


a = 5
b = 6
c = 7
triangle_area = calculate_area_heron(a, b, c)
print(f"The area of the triangle is {triangle_area:.2f}")

In [2]:
#Create a data frame with details of 10 students and columns as Roll Number, Name,Gender, Marks1, Marks2, Marks3.

In [3]:
import pandas as pd
data = {
    'Roll Number': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Hannah', 'Ivy', 'Jack'],
    'Gender': ['F', 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'F', 'M'],
    'Marks1': [85, 78, 92, 67, 88, 75, 91, 80, 95, 70],
    'Marks2': [90, 82, 88, 72, 34, 79, 93, 84, 97, 68],
    'Marks3': [88, 76, 94, 70, 87, 73, 90, 82, 96, 71]
}

students_df = pd.DataFrame(data)


print(students_df)

   Roll Number     Name Gender  Marks1  Marks2  Marks3
0          101    Alice      F      85      90      88
1          102      Bob      M      78      82      76
2          103  Charlie      M      92      88      94
3          104    David      M      67      72      70
4          105      Eva      F      88      34      87
5          106    Frank      M      75      79      73
6          107    Grace      F      91      93      90
7          108   Hannah      F      80      84      82
8          109      Ivy      F      95      97      96
9          110     Jack      M      70      68      71

In [ ]:
#Create a new column with total marks

In [4]:
students_df['Total Marks'] = students_df['Marks1'] + students_df['Marks2'] + students_df['Marks3']

print(students_df)

   Roll Number     Name Gender  Marks1  Marks2  Marks3  Total Marks
0          101    Alice      F      85      90      88          263
1          102      Bob      M      78      82      76          236
2          103  Charlie      M      92      88      94          274
3          104    David      M      67      72      70          209
4          105      Eva      F      88      34      87          209
5          106    Frank      M      75      79      73          227
6          107    Grace      F      91      93      90          274
7          108   Hannah      F      80      84      82          246
8          109      Ivy      F      95      97      96          288
9          110     Jack      M      70      68      71          209

In [ ]:
#Find the lowest marks in Marks1

In [5]:
lowest_marks = students_df['Marks1'].min()
print(f"The lowest marks in Marks1: {lowest_marks}")

The lowest marks in Marks1: 67

In [ ]:
#Find the Highest marks in Marks2

In [7]:
highest_marks = students_df['Marks2'].max()
print(f"The highest marks in Marks2: {highest_marks}")

The highest marks in Marks2: 97

In [ ]:
# Find the average marks in Marks3

In [8]:
average_marks = students_df['Marks3'].mean()
print(f"The average marks in Marks3: {average_marks}")

The average marks in Marks3: 82.7

In [ ]:
#Find student name with highest average

In [9]:
students_df['Average Marks'] = students_df[['Marks1', 'Marks2', 'Marks3']].mean(axis=1)
top_student = students_df.loc[students_df['Average Marks'].idxmax(), 'Name']
print(f"Student with Highest Average Marks: {top_student}")

Student with Highest Average Marks: Ivy

In [ ]:
#Find how many students failed in Marks2 (<40)

In [11]:
failed_students = students_df[students_df['Marks2'] < 40]
num_failed = failed_students.shape[0]

print(f"Number of students who failed in Marks2: {num_failed}")

Number of students who failed in Marks2: 1